* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}
/*Scrollbar*/

::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  

/*Debug*/


.debug main {
    background-color: black;
}


/*
.debug .main-content {
    background-color: rgb(43, 226, 89);
}
.debug .content-nav {
    background-color: brown;1
}

.debug .playlist-container {
    border:1px dashed cadetblue;
}

.debug .playlist-wrapper {
    background-color: aqua;
    height: 150px;
}
.debug .playlist {
    background-color: red;
}
*/




/*

.debug .upper-buttons {
    border: 1px dashed purple;
}
.debug .lower-buttons {
    border: 1px dashed purple;
}



.debug .logo {
    background-color: darkgoldenrod;
}

.debug .nav-explorer {
    background-color: darkolivegreen;
}

.debug .playlist-main ul {
    background-color: beige;
}

.debug .sidebar {
    background-color: rgb(0, 162, 255);
}

*/


/*Utility*/

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.direction-column {
    flex-direction: column;
}

.overflow-scroll {
    overflow-y: scroll;
}

.dp-block {
    display: block;
}

.dp-inline-block {
    display: inline-block;
}

.dp-inline {
    display: inline;
}

.dp-none {
    display: none;
}



/* CSS Main Rules*/


/*Sidebar*/

.sidebar {
    min-height: 300px;
    overflow: hidden;
}


.lower-buttons {
    height: 100px;
}

.upper-buttons {
    height: calc(100% - 100px);
}

.playlist-main {
    overflow-y: hidden;
    display: none;
}

.upper-button {
    overflow-y: hidden;
}


.small-img img{
    height: 30px;
    margin-left :10px;
    margin-top: 10px;
}

.logo .big-img img {
    width: 80%;
    padding: 10px;
    display: none;
}

.nav-explorer ul li a  {
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
}

.nav-explorer ul li a img {
    height: 30px;
    margin-left: 10px;
    vertical-align: middle;
}

.nav-explorer ul li a span {
    vertical-align: middle;
    color: gray;
    font-weight: bold;
    display: none;
}

.add-playlist {
    text-decoration: none;
    color: grey;
    margin: 10px 10px;

}

#add-playlist-button {
    padding: 5px 10px;
    background-color: #a3a3a3;
    color: black;
}

.playlists li a{
    color: gray;
    font-weight: bold;
    text-decoration: none;
}

.playlists li {
    margin: 10px 10px;
}

.app-install a {
    margin-left: 15px;
    color: gray;
    text-decoration: none;
}

.app-install {
    margin-bottom: 10px;
}

.app-install a span {
    display: none;
}



.lower-buttons-hr {
    height: 2px;
    width: 90%;
    margin: 15px 10px ;
    background-color: gray;
    display: none;
}

.profile-section a {
    text-decoration: none;
    display: inline-block;
}

.profile {
    border-radius: 50%;
    background-color: gray;
    object-fit: cover;
    width: 35px;
    height: 35px;
    margin: 0px 5px;
    vertical-align: middle;
}

.profile-name {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    vertical-align: middle;
    text-decoration: none;
    display: none;
}

.playlist-main h3 {
    font-size: 15px;
    margin: 10px;
}

/*Fine Sidebar*/

/*Main content*/

.cta {
    width: calc(100% - 50px);
    position: fixed;
    top: 0px;
    left: 50px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.3);
}

.cta-content {
    display: inline-block;
    color: white;
    margin-right: 10px;
    padding: 10px 30px;
    text-align: right;
    border: 1px solid white;
    position: absolute;
    right: 5px;
    top: 20px;
    border-radius: 30px;
}

footer {
    height: 100px;
    background-color: #272727
    ;
}

main {
    height: calc(100VH - 100px);
    overflow-y: hidden;
}

aside {
    width: 50px;
}

section h2 {
    color: white;
    margin: 25px 10px 20px 10px;

}
.main-content {
    width: calc(100% - 50px);
    overflow: scroll;
    background-color:  #131821;
}

.content-nav {
    margin-top: 80px;
}

.playlist-wrapper {
    list-style: none;
    width: calc(100% / 2);
    padding: 10px;
}

.playlist {
    width: 100%;
    height: 100%;
}

.playlist img{
    width: 100%;
}

.lower-buttons {
    position: relative;
}

.content-nav ul.d-flex {
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
    
}

.content-nav ul.d-flex li {
    display: inline-block;
    margin: 10px;
}

.content-nav ul.d-flex li a {
    color: gray;
    text-decoration: none;
    font-weight: bold;
}

.playlist-main h3{
    color: white;
    font-weight: bold;
    margin-left: 10px
}

.created-for-subtitle {
    margin: 10px;
    color: gray;
}

ul li .playlist h3 {
    color: white;
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
}

ul li .playlist h4 {
    color: gray;
    text-align: center;
    padding-top: 5px;
}


/* Responsive Zone*/

@media screen and (min-width:576px ) {

    .small-img {
        display: none;
    }

    .sidebar {
        width: 200px;
    }

    .main-content {
        width: calc(100% - 200px);
    }

    .cta {
        width: calc(100% - 200px);
        top: 0px;
        left: 200px;
    }

    .playlist-wrapper {
        width: calc(100% / 4);
    }

    .aside-lower-section {
        max-height: 50%;
    }
    
    .playlist-main {
        display: block;
    }
    
    .logo .big-img img {
        display: inline-block;
    }
    
    .nav-explorer ul li a span {
        display: inline;
    }
    
    .app-install a span {
        display: inline;
    }
    
    .lower-buttons-hr {
        display: block;
    }
   
    .profile-name {
        display: inline;
    }



}

@media screen and (min-width:768 ) {

}

@media screen and (min-width:992px ) {
    .playlist-wrapper {
        width: calc(100% / 6);
    }
}

@media screen and (min-width:1200px ) {

}