* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}
/*Scrollbar*/

::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  

/*Debug*/


.debug main {
    background-color: black;
}


/*
.debug .main-content {
    background-color: rgb(43, 226, 89);
}
.debug .content-nav {
    background-color: brown;1
}

.debug .playlist-container {
    border:1px dashed cadetblue;
}

.debug .playlist-wrapper {
    background-color: aqua;
    height: 150px;
}
.debug .playlist {
    background-color: red;
}
*/




/*

.debug .upper-buttons {
    border: 1px dashed purple;
}
.debug .lower-buttons {
    border: 1px dashed purple;
}



.debug .logo {
    background-color: darkgoldenrod;
}

.debug .nav-explorer {
    background-color: darkolivegreen;
}

.debug .playlist-main ul {
    background-color: beige;
}

.debug .sidebar {
    background-color: rgb(0, 162, 255);
}



.debug .sx-footer {
    background-color: red;
    height: 100%;
}

.debug .middle-footer {
    background-color: green;
    width: 40%;
}

.debug .right-footer {
    background-color: blue;
    width: 20%;
}

*/

/*Utility*/

.d-flex {
    display: flex;
}

.align-center  {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.direction-column {
    flex-direction: column;
}

.overflow-scroll {
    overflow-y: scroll;
}

.dp-block {
    display: block;
}

.dp-inline-block {
    display: inline-block;
}

.dp-inline {
    display: inline;
}

.dp-none {
    display: none;
}

.justify-center {
    justify-content: center;
}

.player-control-buttons {
    height: 60%;
}

.player-control-buttons i {
    margin: 10px;
    font-size: 25px;
}

#

/* CSS Main Rules*/


/*Sidebar*/

.sidebar {
    min-height: 300px;
    overflow: hidden;
}


.lower-buttons {
    height: 100px;
}

.upper-buttons {
    height: calc(100% - 100px);
}

.playlist-main {
    overflow: hidden;
    display: none;
}

.upper-button {
    overflow: hidden;
}


.small-img img{
    height: 30px;
    margin-left :10px;
    margin-top: 10px;
}

.logo .big-img img {
    width: 80%;
    padding: 10px;
    display: none;
}

.nav-explorer ul li a  {
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
}

.nav-explorer ul li a img {
    height: 30px;
    margin-left: 10px;
    vertical-align: middle;
}

.nav-explorer ul li a span {
    vertical-align: middle;
    color: gray;
    font-weight: bold;
    display: none;
}

.add-playlist {
    text-decoration: none;
    color: grey;
    margin: 10px 10px;

}

#add-playlist-button {
    padding: 5px 10px;
    background-color: #a3a3a3;
    color: black;
}

.playlists li a{
    color: gray;
    font-weight: bold;
    text-decoration: none;
}

.playlists li {
    margin: 10px 10px;
}

.app-install a {
    margin-left: 15px;
    color: gray;
    text-decoration: none;
}

.app-install {
    margin-bottom: 10px;
}

.app-install a span {
    display: none;
}



.lower-buttons-hr {
    height: 2px;
    width: 90%;
    margin: 15px 10px ;
    background-color: gray;
    display: none;
}

.profile-section a {
    text-decoration: none;
    display: inline-block;
}

.profile {
    border-radius: 50%;
    background-color: gray;
    object-fit: cover;
    width: 35px;
    height: 35px;
    margin: 0px 5px;
    vertical-align: middle;
}

.profile-name {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    vertical-align: middle;
    text-decoration: none;
    display: none;
}

.playlist-main h3 {
    font-size: 15px;
    margin: 10px;
}



/*Fine Sidebar*/

/*Main content*/

.cta {
    width: calc(100% - 50px);
    position: fixed;
    top: 0px;
    left: 50px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.3);
}

.cta-content {
    display: inline-block;
    color: white;
    margin-right: 10px;
    padding: 10px 30px;
    text-align: right;
    border: 1px solid white;
    position: absolute;
    right: 35px;
    top: 20px;
    border-radius: 30px;
}

footer {
    height: 100px;
    background-color: #272727
    ;
}

main {
    height: calc(100VH - 100px);
    overflow-y: hidden;
}

aside {
    width: 50px;
}

section h2 {
    color: white;
    margin: 25px 10px 20px 10px;

}
.main-content {
    width: calc(100% - 50px);
    overflow: scroll;
    background-color:  #131821;
}

.content-nav {
    margin-top: 80px;
}

.playlist-wrapper {
    list-style: none;
    width: calc(100% / 2);
    padding: 10px;
}

.playlist {
    width: 100%;
    height: 100%;
    position: relative;
}

.img-container {
    position: relative;
}
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
    z-index: 3;

}
.effect {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    position: absolute;
    top: 0;
    display: none;
}

.playlist img{
    width: 100%;
}

.lower-buttons {
    position: relative;
}

.content-nav ul.d-flex {
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
    
}


.content-nav ul.d-flex li {
    display: inline-block;
    margin: 10px;
}

.content-nav ul.d-flex li a {
    color: gray;
    text-decoration: none;
    font-weight: bold;
}

.playlist-main h3{
    color: white;
    font-weight: bold;
    margin-left: 10px
}

.created-for-subtitle {
    margin: 10px;
    color: gray;
}

ul li .playlist h3 {
    color: white;
    text-align: center;
    font-size: 16px;
    padding-top: 10px;
}

ul li .playlist h4 {
    color: gray;
    text-align: center;
    padding-top: 5px;
}

.footer-container {
    justify-content: space-between;
    height: 100%;
    min-width: 460px;
    overflow-x: scroll;
}

.sx-footer img {
    height: 50x;
    width: 40px;
    margin: 0px 0px 0px 2px;
}

.song-name {
    margin: 0px 15px 0px 5px;
}

.song-name h3 {
    font-size: 10px;
}

.song-name h2 {
    font-size: 15px;
}

.footer-img img {
    width: 80%;
}

.player-control-time {
    justify-content: space-between;
    gap: 20px;
}

.player-control-buttons i{
    font-size: 20px;
}

.player-control-buttons i, .control-elapsed, .control-total, .album-icons i, .sx-footer  {
    color: white;
}

.control-elapsed, .control-total {
    width: 10%;
    text-align: center;
}

.bar {
    width: 80%;
    height: 10px;
    background-color: black;
    border-radius: 5px;
    
}

.progress-bar {
    width: 20%;
    height: 100%;
    background-color: rgb(145, 143, 143);
    border-radius: 5px;
}

.middle-footer {
    margin: auto;
    width: 40%;
}

.right-footer i {
    padding: 5px;
    color: white;
}

.right-footer .bar {
    width: 70%;

}

.sx-footer {
    width: 15%;
}

.right-footer {
    justify-content: flex-end;
}

.right-footer .bar {
    width: 60%;
}

#dx-footer {
    width: 15%;
}

#home  {
    color: white;
}

.nav-explorer ul:first-child li:first-child {
    border-left: 1px solid lightgreen;
    box-sizing: content-box;
}

.content-nav ul li a {
    border: 2px solid transparent
}

.content-nav ul li a .underline{
    font-style: none;
    border-bottom: 2px solid lightgreen;
}

.progress-bar {
    position: relative;
}

.dot-bar {
    width: 10px;
    height: 100%;
    border-radius: 50%;
    padding: 8px;
    background-color: white;
    position: absolute;
    right: 0;
    top: -3px;
    display: none;
}



/* Hover Effects*/

.playlist-wrapper:hover  .effect{
    display: inline-block;
}

.cta-content:hover {
    transform: scale(1.2);
}

.content-nav ul li a:hover, .playlists li a:hover, .nav-explorer ul li a span:hover {
    color: white;
}

.playlist-main a:hover {
    color: white;
}

#add-playlist-button:hover {
    background-color: white;
}

.app-install span:hover {
    color: white;
}

.middle-footer .fa-circle-play:hover {
    transform: scale(1.3);
}

.bar:hover .progress-bar {
    background-color: rgb(0, 253, 0);
}

.bar:hover .dot-bar {
    display: inline-block;
}

.album-icons i{
    color: gray;
}



/* Responsive Zone*/

@media screen and (min-width:576px ) {

    .small-img {
        display: none;
    }

    .sidebar {
        width: 200px;
    }

    .main-content {
        width: calc(100% - 200px);
    }

    .cta {
        width: calc(100% - 200px);
        top: 0px;
        left: 200px;
    }

    .playlist-wrapper {
        width: calc(100% / 4);
    }

    .aside-lower-section {
        max-height: 50%;
    }
    
    .playlist-main {
        display: block;
    }
    
    .logo .big-img img {
        display: inline-block;
    }
    
    .nav-explorer ul li a span {
        display: inline;
    }
    
    .app-install a span {
        display: inline;
    }
    
    .lower-buttons-hr {
        display: block;
    }
   
    .profile-name {
        display: inline;
    }

    .album-icons i:hover {
        color: white;
    }
    

    br {
        display: none;
    }

}

@media screen and (min-width:768 ) {

}

@media screen and (min-width:992px ) {
    .playlist-wrapper {
        width: calc(100% / 6);
    }
}

@media screen and (min-width:1200px ) {

}