* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.debug main {
    background-color: black;
}

.debug footer {
    background-color: grey;
}

.debug .sidebar {
    background-color: yellow;
}

.debug .main-content {
    background-color: rgb(43, 226, 89);
}

.debug .content-nav {
    background-color: brown;1
}

.debug .playlist-container {
    border:1px dashed cadetblue;
}

.debug .playlist-wrapper {
    background-color: aqua;
    height: 150px;
}

.debug .playlist {
    background-color: red;
}

.debug .upper-buttons {
    border: 1px dashed purple;
}
.debug .lower-buttons {
    border: 1px dashed purple;
}

.debug .logo {
    background-color: darkgoldenrod;
    height: 50px;
}

.debug .nav-explorer {
    background-color: darkolivegreen;
}

.debug .playlist-main ul {
    background-color: beige;
}



/*Utility*/

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.direction-column {
    flex-direction: column;
}

.overflow-scroll {
    overflow-y: scroll;
}

.aside-containers {
    height: 50%;
}


/* CSS Main Rules*/


/*Sidebar*/

.sidebar {
    min-height: 300px;
    overflow: hidden;
}


.lower-buttons {
    height: 100px;
}

.upper-buttons {
    height: calc(100% - 100px);
}

.playlist-main {
    overflow-y: hidden;
}

.upper-button {
    overflow-y: hidden;
}


/*Fine Sidebar*/
.cta {
    width: calc(100% - 50px);
    position: fixed;
    top: 0px;
    left: 50px;
    height: 80px;
    background-color: rgba(255, 150, 150, 0.5);
}

footer {
    height: 100px;
}

main {
    height: calc(100VH - 100px);
    overflow-y: hidden;
}

aside {
    width: 50px;
}


.main-content {
    width: calc(100% - 50px);
    overflow: scroll;
}

.content-nav {
    margin-top: 80px;
}

.playlist-wrapper {
    list-style: none;
    width: calc(100% / 2);
    padding: 10px;
}

.playlist {
    width: 100%;
    height: 100%;
}

.lower-buttons {
    position: relative;
}


.aside-lower-section {
    position: absolute;
    bottom:0;
    max-height: 50%;
}

.content-nav {
}

.content-nav ul.d-flex {
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
    
}

.content-nav ul.d-flex li {
    display: inline-block;
    margin: 10px;
}



/* Responsive Zone*/

@media screen and (min-width:576px ) {

    .sidebar {
        width: 200px;
    }

    .main-content {
        width: calc(100% - 200px);
    }

    .cta {
        width: calc(100% - 200px);
        top: 0px;
        left: 200px;
    }

    .playlist-wrapper {
        width: calc(100% / 4);
    }

    .aside-lower-section {
        max-height: 50%;
    }
    
}

@media screen and (min-width:768 ) {

}

@media screen and (min-width:992px ) {
    .playlist-wrapper {
        width: calc(100% / 6);
    }
}

@media screen and (min-width:1200px ) {

}